@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;

    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;


}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Marcellus', serif;
}

@media only screen and (min-width: 320px) {
    /*BARRA DE NAVEGACION MODILE*/



    .item {
        padding: 1rem;
    }

    .logo {
        background-color: var(--negro2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .logo img {
        width: 40%;
        max-width: 200px;
    }



    .logo i {
        color: var(--blanco);
        font-size: 2rem;
    }



    .menu {
        background-color: rgba(1, 10, 52, 0.838);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform .6s ease;
    }

    .menu-hr {
        width: 90%;
        border-color: var(--blanco);
    }

    .item {
        padding: 1rem;
    }

    nav a {
        color: var(--blanco);
        text-decoration: none;
        text-align: center;

    }

    /* nav a:hover {
        background-color: #0B3860;
        width: 100%;
    } */

    .navbar-button {
        background-color: transparent;
        border: none;
        border-radius: 3px;
        font-size: 1em;
        padding: 0.5rem;
        font-family: 'Marcellus', serif;
        color: var(--blanco);
    }

    nav {
        top: 0;
        font-family: 'Marcellus', serif;
        font-size: 1.3em;
        position: fixed;
        width: 100%;
        z-index: 1;

    }

    .ocultar {
        transform: translateX(100em);
    }

    .open {
        transform: translateX(0);
    }

    /*CARRUSEL*/

    .carrusel{
        margin-top: 5.5em;
        
    }

        /* FIN CARRUSEL*/

    /*DESCRIPCION modile*/

    .introduccion {
        display: flex;

    }

    .introduccion-parrafo {
        padding: 1em;

    }


    .introduccion-logo img {
        display: none;

    }

    /*FIN DESCRIPCION*/

    /*FEATURES*/

    #features {
        background: url(../img/index/bg-features.png);
        color: white;
        padding-top: 3rem;
    }

    .features-title {
        background-color: rgba(0, 0, 0, 0.35);
        text-align: center;
        padding: 0.5rem;
        font-size: 1.5em;
    }

    .features-description {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .feature {
        width: 25%;
        min-width: 180px;
        max-width: 230px;
        margin: 0.8rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .feature i {
        font-size: 2.2em;
        margin-bottom: 1.5rem;
    }

    .feature-blue {
        background-color: #00325eae;
    }

    .feature-black {
        background-color: rgba(0, 0, 0, 0.59);
    }

    /*END FEATURES*/

    /*UBICACION modile*/

    .ubicacion {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        text-align: center;

    }

    .mapa {
        width: 100%;
        height: 20em;
    }

    .ubicacion h2 {
        color: var(--negro2);
        font-size: 2em;

    }

    .direccion {
        display: flex;
        font-family: 'Marcellus', serif;
        font-size: 1.5em;
        justify-content: center;
        line-height: 1em;
        flex-direction: column;
        padding-top: 1em;
    }

    .direccion hr {
        width: 50%;
        border-color: var(--azuloscuro);
        text-align: center;
        margin-left: 25%;


    }

    /*FIN UBICACION*/


    /*TARJETAS*/

    .tarjeta {
        margin: 1em;
        width: 25em;
        height: 16em;
        background: var(--degradado);
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        color: var(--fondo);
        border-radius: 5px;
    }

    .tarjeta .img div {
        width: 5em;
        height: 5em;
        border-radius: 100%;
        background-image: url(../img/user/1.jpg);
        background-size: 200%;
    }

    .tarjeta .usuario {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: #0B3860;
        background-image: url(../img/Group\ 200.svg);
        background-size: 92%;
        background-position: right bottom;
        background-repeat: no-repeat;
        padding: 2rem 1em 1em 1em;
        border-radius: 5px 5px 100% 18%;
    }

    .tarjeta .text {
        padding: 0.5em 2em 2em 2em;
    }

    .tarjeta .usuario h3 {
        padding-bottom: 0.5em;
    }

    .tarjeta .usuario .user {
        margin-left: 1.5em;
    }

    .tarjeta .usuario .star i {
        font-size: 1.5em;
    }

    #estrella {
        color: var(--Magenta);
    }

    .opinion .titulo {
        background-color: var(--negro);
        color: var(--blanco);
        padding: 1em;
        letter-spacing: 2px;
        font-size: 2em;
        display: flex;
        justify-content: center;
        padding-bottom: 1em;
        text-align: center;
    }

    .opiniones {
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 60em;
    }

    .opinion {
        display: flex;
        padding-bottom: 20%;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 50%;
    }

    /*FIN TARJETAS*/


    /*FOOTER*/

    footer {
        display: flex;
        margin-top: 2em;
        background-color: var(--negro);
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 20%;
        padding: 5px 0;

    }

    article hr {
        display: flex;
        border-color: var(--blanco);
        background-color: #fff;
    }

    footer article {
        width: 100%;
        color: #ffff;
        padding: 0 10px;
    }

    .iconos2 i {
        padding-left: 1em;
        font-size: 150%;
        color: #fff;
    }

    .iconos {
        display: none;
    }

    .footer-direccion {
        padding: 1em 0;

    }

    .footer-direccion i {
        font-size: 120%;

    }

    .politicas p {
        padding: 1em;
    }

    /*FOOTER*/

}

/*Resolución tablet*/
@media screen and (min-width: 768px) {
    .feature {
        width: 50%;
    }
}


/*DESKTOP---------------------------------------*/


@media screen and (min-width: 1024px) {

    /*BARRA DE NAVEGACION DESKTOP*/
    nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        background-color: var(--negro2);
        
    }

    .logo {
        padding: 1rem;
    }

    .logo img {
        width: 100%;
        max-width: 180px;
    }

    .logo i {
        display: none;
    }

    .menu {
        background-color: var(--negro2);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        transform: translateY(0);
    }

    .menu-hr {
        display: none;
    }

    .navbar-button {
        background-color: var(--azuloscuro);
    }

    /*FIN BARRA*/

        .carrusel {
            margin-top: 5em;
    
        }

    .texto {
        text-align: left;
        color: var(--blanco);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 7em;
        margin-left: -100px;
        background-color: rgba(51, 51, 51, 0.524);
    }



    /*DESCRIPCION DESKTOP*/
    .introduccion {
        display: flex;
        padding: 2em;
        justify-content: center;
        align-items: center;

    }

    .introduccion-parrafo {
        padding: 25px;
        width: 50em;
        font-size: 1.5em;
    }


    .introduccion-logo img {
        display: flex;
        align-items: center;
        width: 240px;
        height: 240px;
    }

    /*FIN DESCRIPCION*/

    /*FEATURES*/

    #features {
        background: url(../img/index/bg-features.png);
        color: white;
        padding-top: 2rem;
    }

    .features-title {
        background-color: rgba(0, 0, 0, 0.35);
        text-align: center;
        padding: 0.5rem;
        font-size: 1.5em;
    }

    .features-description {
        padding-top: 2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .feature {
        width: 25%;
        min-width: 180px;
        max-width: 230px;
        margin: 0.8rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .feature i {
        font-size: 2.2em;
        margin-bottom: 1.5rem;
    }

    .feature-blue {
        background-color: #00325eae;
    }

    .feature-black {
        background-color: rgba(0, 0, 0, 0.59);
    }

    /*END FEATURES*/

    /*MAPA DESKTOP*/

    .ubicacion {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        padding: 2em;
        text-align: center;

    }

    .mapa {
        width: 100%;
        height: 35em;
    }

    .ubicacion h2 {
        color: var(--negro2);
        font-size: 3em;
        padding: 1em;
    }

    .direccion {
        display: flex;
        font-family: 'Marcellus', serif;
        font-size: 2em;
        justify-content: center;
        line-height: 2em;
        flex-direction: column;
    }

    .direccion hr {
        width: 50%;
        border-color: var(--azuloscuro);
        text-align: center;
        margin-left: 25%;


    }

    /*FIN MAPA*/

    /*TARJETAS*/

    /* opiniones */
    .tarjeta {
        margin: 1em;
        width: 25em;
        height: 16em;
        background: var(--degradado);
        display: flex;
        flex-direction: column;
        color: var(--fondo);
        border-radius: 5px;
    }

    .tarjeta .img div {
        width: 5em;
        height: 5em;
        border-radius: 100%;
        background-image: url(../img/user/1.jpg);
        background-size: 200%;
    }

    .tarjeta .usuario {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: #0B3860;
        background-image: url(../img/Group\ 200.svg);
        background-size: 92%;
        background-position: right bottom;
        background-repeat: no-repeat;
        padding: 2rem 1em 1em 1em;
        border-radius: 5px 5px 100% 18%;
    }

    .tarjeta .text {
        padding: 0.5em 2em 2em 2em;
    }

    .tarjeta .usuario h3 {
        padding-bottom: 0.5em;
    }

    .tarjeta .usuario .user {
        margin-left: 1.5em;
    }

    .tarjeta .usuario .star i {
        font-size: 1.5em;
    }

    #estrella {
        color: var(--Magenta);
    }

    .opinion .titulo {
        background-color: var(--negro);
        color: var(--blanco);
        padding: 2em;
        letter-spacing: 2px;
        font-size: 2em;
        display: flex;
        justify-content: center;
        padding-bottom: 0;
        width: 100%;
    }

    .opiniones {
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 6em;
        background-color: var(--negro);
    }

    .opinion {
        display: flex;
        padding-bottom: 20%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;
        height: 50%;
    }



    /*FIN TARJETAS*/

    /*footer desktop*/

    footer {
        display: flex;
        margin-top: 2em;
        background-color: var(--negro);
        justify-content: space-between;
        align-items: baseline;
        flex-direction: row;
        width: 100%;
        height: auto;
        padding: 0px;

    }

    footer #article {
        margin-left: 5em;
    }

    footer article {
        width: 50%;
        color: #ffff;
        padding: 0 1em;
    }

    footer hr {
        display: none;
    }

    .iconos2 {
        display: none;
    }

    .iconos i {

        padding: 1em;
        font-size: 150%;
    }

    .iconos {
        display: flex;
    }

    .footer-direccion {
        display: flex;
        flex-direction: row;
        padding: 1em 0;

    }



    /* .footer-direccion i {
        font-size: 120%;
        padding-right: 2px;

    } */


    .politicas p {
        padding: 1em;

    }



    /*fin footer*/
}


/*Resolución notebooks*/
@media screen and (min-width: 1308px) {
    #descripcion {
        justify-content: center;
    }
}










/*FIN BARRA DE NAVEGACION*/