@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}



@media screen and (min-width: 320px) {
    .dash {
        background-image: url(../img/register2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
    }
    nav {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 10em;
        flex-direction: row;
        background: linear-gradient(49.54deg, rgba(69, 162, 243, 0.863) 2.89%, rgba(6, 55, 99, 0.89) 80.34%);
        align-items: center;
        color: var(--blanco);

    }

    nav img {
        width: 20rem;
        /* padding-top: 100%; */
    }

    nav h1 {
        padding: 2rem;
        font-size: 3rem;
        text-align: center;
        /* padding-bottom: 100%; */
    }
}


@media screen and (min-width: 1024px) {
    .dash {
        background-image: url(../img/register2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
    }

    nav {
        display: flex;
        width: 45%;
        height: 60.5em;
        background: linear-gradient(49.54deg, rgba(69, 162, 243, 0.863) 2.89%, rgba(6, 55, 99, 0.89) 80.34%);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--blanco);
    }

    nav img {
        width: 20rem;
        /* padding-top: 100%; */
    }

    nav h1 {
        padding: 2rem;
        margin-left: 3rem;
        font-size: 3rem;
        text-align: center;
        /* padding-bottom: 100%; */
    }

    .dashboar {
        background-color: rgba(255, 255, 255, 0.767);
        margin: 3rem;
        padding: 2rem;
        width: 100%;
        font-size: 1.2em;
        border-radius: 5px;
    }

    .bienvenido {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem;
        font-size: 2.5rem;
        letter-spacing: 2px;
    }

    /* .columnas {
    display: flex;
    width: 100%;
} */

    form {
        width: 100%;
        margin: 1em;
    }

    form .formulario {
        display: flex;
        width: 100%;
    }

    .columna {
        display: flex;
        padding: 0 1em 0 0;
        width: 100%;
        flex-direction: column;
    }

    .columna input {
        width: 90%;
        padding: 0.5em;
        margin: 0.5em 0 0.5em 0;
        font-size: 1em;
        border-radius: 5px;
        border: 0;
    }

    .columna select {
        width: 90%;
        padding: 0.5em;
        margin: 0.5em 0 0.5em 0;
        font-size: 1em;
        border-radius: 5px;
        border: 0;
    }

    .genero {
        display: flex;
        justify-content: flex-start;
        justify-items: center;
        margin: 1rem 0;
    }

    .genero input {
        width: auto;
        padding: 0%;
        margin: 0%;
        margin-right: 1rem;
    }

    .genero label {
        margin-right: 1rem;
    }

    .foto {
        width: 100%;
    }

    .boton {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .boton button {
        width: 15rem;
        color: var(--blanco);
        background-color: var(--negro2);
        padding: 1rem;
        font-size: 1.2rem;
        margin-top: 1rem;
        border-radius: 5px;
        border: 0;
    }




}